@import "tailwindcss";

@theme{
    --font-oswald: "Oswald", "sans-serif";
    --font-barlow: "Barlow Condensed", "sans-serif";

    
    --color-menu: #DDDDDD;
    --color-textC: #121212;
    --color-headerBg: #212529;
    --color-iconC: #FF4655;
    --color-popularBg: #191919;
    --color-poly: #212121;
}