@keyframes header {
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
}
.stickeyHeader{
    animation: header 1s;
}

.clipPolygon{
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
}
.clipPolygonTwo{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%);
}

img.yarl__slide_image {
    max-width: 400px !important;
    max-height: 400px !important;
    width: 400px !important;
    height: 400px !important;
}